<h2><u>Data Science Using Python</u></h2>

# Module 6: Data Manipulation

<h2>Demo 3: Combining Data</h2>

In this demo, you will be shown how to use functions from pandas to combine data available in different data sets.

In [ ]:
import pandas as pd
import numpy as np

# Read diabetes data from first file

df1 = pd.read_csv('diabetes_data1.csv', index_col='PatientID')
df1.head()

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome
PatientID
PT1001               6      148                     0.627        1
PT1002               1       85                     0.351        0
PT1003               8      183                     0.672        1
PT1004               1       89                     0.167        0
PT1005               0      137                     2.288        1

In [ ]:
#Print the shape of the DataFrame
df1.shape

(20, 4)

In [ ]:
# Note that there are 20 rows in this DataFrame

In [ ]:
# Read data from second file which contains additional rows

df2 = pd.read_csv('diabetes_data1_newRows.csv', index_col='PatientID')
print(df2.shape)

df2.head()

# Note that there are 5 rows with the same column structure in the second dataFrame

(5, 4)

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome
PatientID
PT1022               4       95                     0.161        1
PT1023               6      137                     0.151        0
PT1024               5      136                     0.286        1
PT1025               9       72                     0.280        0
PT1026               5      168                     0.135        1

In [ ]:
# Concatenate the rows using concat function

data1 = pd.concat([df1,df2])
print(data1.shape)

data1

# Note the total number of rows in the resulting dataFrame

(25, 4)

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome
PatientID
PT1001               6      148                     0.627        1
PT1002               1       85                     0.351        0
PT1003               8      183                     0.672        1
PT1004               1       89                     0.167        0
PT1005               0      137                     2.288        1
PT1006               5      116                     0.201        0
PT1007               3       78                     0.248        1
PT1008              10      115                     0.134        0
PT1009               2      197                     0.158        1
PT1010               8      125                     0.232        1
PT1011               4      110                     0.191        0
PT1012              10      168                     0.537        1
PT1013              10      139                     1.441        0
PT1014               1      189                     0.398        1
PT1015               5      166                     0.587        1
PT1016               7      100                     0.484        1
PT1017               0      118                     0.551        1
PT1018               7      107                     0.254        1
PT1019               1      103                     0.183        0
PT1020               1      115                     0.529        1
PT1022               4       95                     0.161        1
PT1023               6      137                     0.151        0
PT1024               5      136                     0.286        1
PT1025               9       72                     0.280        0
PT1026               5      168                     0.135        1

In [ ]:
# Read data from third CSV file which contains additional columns

df3 = pd.read_csv('diabetes_data2.csv', index_col='PatientID')
print(df3.shape)

df3

# Observe the new columns present in this dataFrame

(7, 2)

            BMI  Age
PatientID
PT1001     33.6   50
PT1002     26.6   31
PT1003     23.3   32
PT1004     28.1   21
PT1005     43.1   33
PT1021     25.6   30
PT1030     31.0   26

In [ ]:
# Concatenate the columns from data1 & df3 using concat function 

data2 = pd.concat([data1,df3], axis=1)
print(data2.shape)

data2

# Note that this function combines all the rows in both the dataFrames to result in 27 rows

(27, 6)

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome   BMI   Age
PatientID
PT1001             6.0    148.0                     0.627      1.0  33.6  50.0
PT1002             1.0     85.0                     0.351      0.0  26.6  31.0
PT1003             8.0    183.0                     0.672      1.0  23.3  32.0
PT1004             1.0     89.0                     0.167      0.0  28.1  21.0
PT1005             0.0    137.0                     2.288      1.0  43.1  33.0
PT1006             5.0    116.0                     0.201      0.0   NaN   NaN
PT1007             3.0     78.0                     0.248      1.0   NaN   NaN
PT1008            10.0    115.0                     0.134      0.0   NaN   NaN
PT1009             2.0    197.0                     0.158      1.0   NaN   NaN
PT1010             8.0    125.0                     0.232      1.0   NaN   NaN
PT1011             4.0    110.0                     0.191      0.0   NaN   NaN
PT1012            10.0    168.0                     0.537      1.0   NaN   NaN
PT1013            10.0    139.0                     1.441      0.0   NaN   NaN
PT1014             1.0    189.0                     0.398      1.0   NaN   NaN
PT1015             5.0    166.0                     0.587      1.0   NaN   NaN
PT1016             7.0    100.0                     0.484      1.0   NaN   NaN
PT1017             0.0    118.0                     0.551      1.0   NaN   NaN
PT1018             7.0    107.0                     0.254      1.0   NaN   NaN
PT1019             1.0    103.0                     0.183      0.0   NaN   NaN
PT1020             1.0    115.0                     0.529      1.0   NaN   NaN
PT1022             4.0     95.0                     0.161      1.0   NaN   NaN
PT1023             6.0    137.0                     0.151      0.0   NaN   NaN
PT1024             5.0    136.0                     0.286      1.0   NaN   NaN
PT1025             9.0     72.0                     0.280      0.0   NaN   NaN
PT1026             5.0    168.0                     0.135      1.0   NaN   NaN
PT1021             NaN      NaN                       NaN      NaN  25.6  30.0
PT1030             NaN      NaN                       NaN      NaN  31.0  26.0

In [ ]:
# Left join
df_left=pd.merge(data1, df3, on='PatientID', how='left')
print(df_left.shape)
df_left

# Observe that this function results in a dataFrame containing only 25 records from left dataFrame

(25, 6)

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome   BMI   Age
PatientID
PT1001               6      148                     0.627        1  33.6  50.0
PT1002               1       85                     0.351        0  26.6  31.0
PT1003               8      183                     0.672        1  23.3  32.0
PT1004               1       89                     0.167        0  28.1  21.0
PT1005               0      137                     2.288        1  43.1  33.0
PT1006               5      116                     0.201        0   NaN   NaN
PT1007               3       78                     0.248        1   NaN   NaN
PT1008              10      115                     0.134        0   NaN   NaN
PT1009               2      197                     0.158        1   NaN   NaN
PT1010               8      125                     0.232        1   NaN   NaN
PT1011               4      110                     0.191        0   NaN   NaN
PT1012              10      168                     0.537        1   NaN   NaN
PT1013              10      139                     1.441        0   NaN   NaN
PT1014               1      189                     0.398        1   NaN   NaN
PT1015               5      166                     0.587        1   NaN   NaN
PT1016               7      100                     0.484        1   NaN   NaN
PT1017               0      118                     0.551        1   NaN   NaN
PT1018               7      107                     0.254        1   NaN   NaN
PT1019               1      103                     0.183        0   NaN   NaN
PT1020               1      115                     0.529        1   NaN   NaN
PT1022               4       95                     0.161        1   NaN   NaN
PT1023               6      137                     0.151        0   NaN   NaN
PT1024               5      136                     0.286        1   NaN   NaN
PT1025               9       72                     0.280        0   NaN   NaN
PT1026               5      168                     0.135        1   NaN   NaN

In [ ]:
# Right join
df_right=pd.merge(data1, df3, on='PatientID', how='right')
print(df_right.shape)
df_right

# Observe that this function results in a dataFrame containing only 7 records from right dataFrame

(7, 6)

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome   BMI  Age
PatientID
PT1001             6.0    148.0                     0.627      1.0  33.6   50
PT1002             1.0     85.0                     0.351      0.0  26.6   31
PT1003             8.0    183.0                     0.672      1.0  23.3   32
PT1004             1.0     89.0                     0.167      0.0  28.1   21
PT1005             0.0    137.0                     2.288      1.0  43.1   33
PT1021             NaN      NaN                       NaN      NaN  25.6   30
PT1030             NaN      NaN                       NaN      NaN  31.0   26

In [ ]:
# Outer join
df_outer=pd.merge(data1, df3, on='PatientID', how='outer')
print(df_outer.shape)
df_outer

# Observe that this function results in a dataFrame containing all 27 records from both the dataFrames

(27, 6)

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome   BMI   Age
PatientID
PT1001             6.0    148.0                     0.627      1.0  33.6  50.0
PT1002             1.0     85.0                     0.351      0.0  26.6  31.0
PT1003             8.0    183.0                     0.672      1.0  23.3  32.0
PT1004             1.0     89.0                     0.167      0.0  28.1  21.0
PT1005             0.0    137.0                     2.288      1.0  43.1  33.0
PT1006             5.0    116.0                     0.201      0.0   NaN   NaN
PT1007             3.0     78.0                     0.248      1.0   NaN   NaN
PT1008            10.0    115.0                     0.134      0.0   NaN   NaN
PT1009             2.0    197.0                     0.158      1.0   NaN   NaN
PT1010             8.0    125.0                     0.232      1.0   NaN   NaN
PT1011             4.0    110.0                     0.191      0.0   NaN   NaN
PT1012            10.0    168.0                     0.537      1.0   NaN   NaN
PT1013            10.0    139.0                     1.441      0.0   NaN   NaN
PT1014             1.0    189.0                     0.398      1.0   NaN   NaN
PT1015             5.0    166.0                     0.587      1.0   NaN   NaN
PT1016             7.0    100.0                     0.484      1.0   NaN   NaN
PT1017             0.0    118.0                     0.551      1.0   NaN   NaN
PT1018             7.0    107.0                     0.254      1.0   NaN   NaN
PT1019             1.0    103.0                     0.183      0.0   NaN   NaN
PT1020             1.0    115.0                     0.529      1.0   NaN   NaN
PT1022             4.0     95.0                     0.161      1.0   NaN   NaN
PT1023             6.0    137.0                     0.151      0.0   NaN   NaN
PT1024             5.0    136.0                     0.286      1.0   NaN   NaN
PT1025             9.0     72.0                     0.280      0.0   NaN   NaN
PT1026             5.0    168.0                     0.135      1.0   NaN   NaN
PT1021             NaN      NaN                       NaN      NaN  25.6  30.0
PT1030             NaN      NaN                       NaN      NaN  31.0  26.0

In [ ]:
# Inner join
df_inner=pd.merge(data1, df3, on='PatientID', how='inner')
print(df_inner.shape)
df_inner

# Observe that this function results in a DataFrame containing only 5 records which are common to both DataFrames

(5, 6)

           Pregnancies  Glucose  DiabetesPedigreeFunction  Outcome   BMI  Age
PatientID
PT1001               6      148                     0.627        1  33.6   50
PT1002               1       85                     0.351        0  26.6   31
PT1003               8      183                     0.672        1  23.3   32
PT1004               1       89                     0.167        0  28.1   21
PT1005               0      137                     2.288        1  43.1   33

##### Conclusion: This code demonstrates how to combine data available from different sources using various functions from pandas. Choose an appropriate function based on the structure of datasets to be combined.